<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.tonyxu.alfred.upload-to-s3</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA0DA979-D335-47AA-B113-92BCA60A3DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA0DA979-D335-47AA-B113-92BCA60A3DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F559938B-910D-4756-BD05-FB992CE44072</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E4B65E9-E2A0-45AC-976E-F53632095370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tony Xu</string>
	<key>description</key>
	<string>Upload image in clipboard to S3</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Upload Clipboard Image to S3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F559938B-910D-4756-BD05-FB992CE44072</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>upload</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Upload to S3</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python upload-s3.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA0DA979-D335-47AA-B113-92BCA60A3DA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Uploaded to S3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4E4B65E9-E2A0-45AC-976E-F53632095370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>305D0AEB-26F1-404C-ADB4-0BDAB467C9C7</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4E4B65E9-E2A0-45AC-976E-F53632095370</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>F559938B-910D-4756-BD05-FB992CE44072</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FA0DA979-D335-47AA-B113-92BCA60A3DA2</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>access_key</key>
		<string>AKIAJIIUXSRIWC23XJKQ</string>
		<key>bucket_name</key>
		<string>tonyxu-img</string>
		<key>region_name</key>
		<string>us-west-1</string>
		<key>secret_key</key>
		<string>yn3uEjZ0qa8P1pyifnHo3TiYbC+QvcfCBlZIYFbz</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bucket_name</string>
		<string>region_name</string>
		<string>access_key</string>
		<string>secret_key</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
